{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<style type="text/css">
.well{
    width: 250px; 
    padding: 0px 0;
}
.bs-example{
    margin: 0px;
}
</style>
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

<!--
{% block breadcrumbs %}
<ul class="breadcrumb">
<li>{% trans 'Home' %}</li>
</ul>
{% endblock %}
-->

{% block object-tools %}
{% endblock %}

{% block navigator %}
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Sistema</li>
        {% if perms.EPMApp.change_usuarios %}
            <li id="home"><a href="/admin/EPMApp/usuarios/">Usuarios</a></li>
          {% endif %}
        {% if perms.auth.change_group %}
            <li id="home"><a href="/admin/auth/group/">Roles del sistema</a></li>
          {% endif %}
            {% if perms.EPMApp.listar_roles_proyectos %}
                <li id="home"><a href="/admin/EPMApp/rolesproyectos/">Roles de proyectos</a></li>
              {% endif %}
        {% if perms.EPMApp.change_permission %}
            <li id="home"><a href="/admin/auth/permission/">Permisos</a></li>
        {% endif %}
                 <li id="home"><a href="/admin/EPMApp/proyectos/?proceso=0">Proyectos</a></li>
 		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
    <h1>Bienvenido a EPM!!!</h1>
    
{% endblock %}

{% block sidebar %}
{% endblock %}
