{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block nav-global %}{% endblock %}
{% block navigator %}{% endblock %}

{% block navbar %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}
<style type="text/css">
@media (min-width: 768px) {
.form-signin {
    max-width: 50%;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin-inner{
    padding: 19px 29px 29px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .form-actions{
    margin: 0;
}
}
</style>
{% endblock %}

{% block content %}
<div id="content-main">
<form class="form-signin form-horizontal" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-signin-inner">
  {% blocktrans %}<h2>Login</h2>{% endblocktrans %}
  {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
    <div class="alert alert-error">
       {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
  {% endif %}
  {% if form.non_field_errors or form.this_is_the_login_form.errors %}
    {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
    <div class="alert alert-error">
      {{ error }}
    </div>
    {% endfor %}
  {% endif %}
  <div class="control-group">
    <div class="control-label">
        <label for="id_username" class="required">{% trans 'Username:' %}</label> 
    </div>
    <div class="controls">
        {{ form.username }}
        {% if not form.this_is_the_login_form.errors %}<span class="help-inline">{{ form.username.errors|striptags }}</span>{% endif %}
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
        <label for="id_password" class="required">{% trans 'Password:' %}</label> 
    </div>
    <div class="controls">
        {{ form.password }}
        {% if not form.this_is_the_login_form.errors %}<span class="help-inline">{{ form.password.errors|striptags }}</span>{% endif %}
    </div>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="control-group">
    <div class="controls">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
  </div>
  {% endif %}
  </div>
  <div class="form-actions">
    <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
  </div>
</form>

<script type="text/javascript">
$(document).ready(function() {
  $('#id_username').attr('autocapitalize', 'off').focus();
})
</script>
</div>
{% endblock %}
