{% extends 'admin/index.html' %}

{% block contenido %}
        <h3 class="col-md-4  col-md-offset-4">Ver grafo de relaciones de {{ proy_nombre }}</h3>
<div class="row">

        <div class="col-md-4  col-md-offset-2">
             <img src="/static/grafos/{{image_name}}" alt="Grafo_relaciones"/>
        </div>



</div>

{% endblock %}